<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <p class="lead">
                Best possible project manager in the whole universe.
            </p>
        </div>
        <div class="row">
            <p>
                <button class="btn btn-primary btn-lg">Button does nothing</button>
            </p>
        </div>
    </div>
    <div>
        <h2>Congrats! You've run the Project Manager application.</h2>
        <p>To test things out create an account and create Your first project.</p>
        <p>This sample application should do these things:</p>
        <ul>
            <li>
                Can add, edit, display <em>projects</em>.
            </li>
            <li>
                Each <em>project</em> has title, description and documentation.
            </li>
            <li>
                There is required that <em>project</em> title has to be over 40 characters long, app has to follow good practices and show user when it's has not.
            </li>
            <li>
                <em>Projects</em> are saved in database.
            </li>
            <li>
                There is directive that before displaying <em>project</em> documentation will detect and linkify all external links.
            </li>
            <li>
                There are tests.
            </li>
        </ul>
    </div>
</section>
